body, .reset-password {
  background-color: #fff;
}

.reset-password-page {
  background: url('/assets/reset-bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.reset-password-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 500px;
  height: 400px;
  border: 5 solid #2c1f29;

}

.reset-password-card h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.message {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}
.message.error {
  color: #d9534f;
}
.message.success {
  color: #28a745;
}
.custom-btn {
  background-color: #392835; /* Your chosen color */
  border: none;
  color: #fff;
  font-weight: 600;
}

.custom-btn:hover {
  background-color: #2c1f29; /* Slightly darker for hover effect */
}
