<nav class="admin-sidebar" role="navigation" aria-label="Admin Sidebar">
  <div class="sidebar-header">Admin Panel</div>



  <div class="sidebar-actions">
    <button
      class="sidebar-action-btn"
      *ngFor="let link of filteredLinks"
      [routerLink]="link.path"
      routerLinkActive="active"
    >
      <i [class]="link.icon"></i> {{ link.label }}
    </button>
  </div>

  <div class="sidebar-bottom">
    <button class="sidebar-logout-btn" (click)="logout()">Logout</button>
    <div class="sidebar-footer">&copy; {{ year }} HireConnect</div>
  </div>
</nav>
